{
"PublisherId": "CN=D33EB068-0180-47D4-8C3D-69151BBD4EFA",
"PublisherDisplayName": "Ben Corp.",
"PackageIdentityName": "138458E7997D1.ProjectHoneyBadger",
"DisplayName": "Project Honey Badger",
"AppId": "9PLRPWSWT6FF",
"ProductFamilyName": "138458E7997D1.ProjectHoneyBadger_kc80btzpwbea0",
"ServiceConfigurationId": "00000000-0000-0000-0000-00007b8e27dd",
"TitleId": 2072913885,
"Sandbox": "RIOTUP.0",
"Environment": null
}